<?xml version="1.0"?>
<!-- 
/**
* @category   WSA
* @package    WSA_Brandmanagement
*/
-->
<config>
    <modules>
        <WSA_Brandmanagement>
            <version>0.1.3</version>
        </WSA_Brandmanagement>
    </modules>
    <frontend>
        <routers>
            <brandmanagement>
                <use>standard</use>
                <args>
                    <module>WSA_Brandmanagement</module>
                    <frontName>brand-info</frontName>
                </args>
            </brandmanagement>
        </routers>
        <layout>
            <updates>
                <brandmanagement>
                    <file>brandmanagement.xml</file>
                </brandmanagement>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <brandmanagement_search_brand>
                        <class>brandmanagement/observer</class>
                        <method>searchBrand</method>
                    </brandmanagement_search_brand>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
        </events>
    </frontend>
    <admin>
        <routers>
            <brandmanagement>
                <use>admin</use>
                <args>
                    <module>WSA_Brandmanagement</module>
                    <frontName>brandmanagement</frontName>
                </args>
            </brandmanagement>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <brandmanagement module="brandmanagement">
                <title>Brand</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="brandmanagement">
                        <title>Manage Brand</title>
                        <sort_order>0</sort_order>
                        <action>brandmanagement/adminhtml_brandmanagement</action>
                    </items>
                </children>
            </brandmanagement>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <WSA_Brandmanagement>
                            <title>Brandmanagement Module</title>
                            <sort_order>10</sort_order>
                        </WSA_Brandmanagement>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <brandmanagement>
                    <file>brandmanagement.xml</file>
                </brandmanagement>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <brandmanagement>
                <class>WSA_Brandmanagement_Model</class>
                <resourceModel>brandmanagement_mysql4</resourceModel>
            </brandmanagement>
            <brandmanagement_mysql4>
                <class>WSA_Brandmanagement_Model_Mysql4</class>
                <entities>
                    <brandmanagement>
                        <table>brandmanagement</table>
                    </brandmanagement>
                    <brandmanagement_store>
                        <table>brandmanagement_store</table>
                    </brandmanagement_store>
                </entities>                
            </brandmanagement_mysql4>
        </models>
        <resources>
            <brandmanagement_setup>
                <setup>
                    <module>WSA_Brandmanagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandmanagement_setup>
            <brandmanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandmanagement_write>
            <brandmanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandmanagement_read>
        </resources>
        <blocks>
            <brandmanagement>
                <class>WSA_Brandmanagement_Block</class>
            </brandmanagement>
        </blocks>
        <helpers>
            <brandmanagement>
                <class>WSA_Brandmanagement_Helper</class>
            </brandmanagement>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <brandmanagement_router>
                        <class>WSA_Brandmanagement_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </brandmanagement_router>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>